.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-position: center;
  background-size: cover;
  background-image: url('../../../images/logo/logo_place_header.svg');
}
