.khan__buy-link {
  padding: 0;
  align-self: start;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.50;
  transition: ease-in-out;
}
